.jumbotron{
   background-color: aquamarine;
   font-size: 34px;
   color: black;
   margin-top: 40px;
}

footer{
   padding: 10px 10px 0 10px;
   background-color: yellow;
   margin-bottom: 0px;
   margin-top: 20px;

}

.card-hotel{
   flex: 1 150px;
   padding: 2px 5px 2px 5px;
}

.footer-address-icon{
   padding-right: 10px;
}

.style-form{
    
  margin-left: 10px;
}