$cyan:#03fcbe;
$yellow:#fffb00;
$red: #eb4034;
$green: #009e00;
@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom; 
    
}

.jumbotron{
    background-color: $cyan;
    font-size: 34px;
    color: black;
    @include margenes(60px, 0px);
 }
 
 footer{
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(20px, 0px);
 
 }
 
 .card-hotel{
    flex: 1 150px;
    @include margenes(10px, 0px);
 }
 
 .footer-address-icon{
    padding-right: 10px;
 }
 
 .style-form{
     
   margin-left: 10px;
 }