@red:#eb4034;
.margenes(@top:0px, @bottom:0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
    background-color: @red;
    font-size: 34px;
    color: black;
    .margenes(60px, 0px) }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @red;
    .margenes(20px, 0px) }
  
  .card-hotel {
    flex: 1 150px;
    .margenes(10px, 0px)}
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .style-form {
    margin-left: 10px; }