.jumbotron {
  background-color: #03fcbe;
  font-size: 34px;
  color: black;
  margin-top: 60px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #fffb00;
  margin-top: 20px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 150px;
  margin-top: 10px;
  margin-bottom: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.style-form {
  margin-left: 10px; }
